# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyAYTj-ICXcxHjafIHPnyJq6xtah793rOEU"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# BLYNK_AUTH_TOKEN: Your Blynk IoT Auth Token
BLYNK_AUTH_TOKEN="X4pCNjT4Xw5U05tlvnu-3O0-hCpRv27N"

# BLYNK_TEMPLATE_ID: Your Blynk IoT Template ID
BLYNK_TEMPLATE_ID="TMPL3R67uzzkE"

# BLYNK_TEMPLATE_NAME: Your Blynk IoT Template Name
BLYNK_TEMPLATE_NAME="Water level"
